:go:code
  type Test struct {
    test string
  }
  // this should error because of bad format
  func (t *Test) Simple(u *model.User, st []model.Story, w io.Writer) {{{}}}
    
:go:import "github.com/Joker/jade/testdata/imp/model"

html
    body
        h1= u.FirstName
        p Here's a list of your favorite colors:
        ul
            each colorName in u.FavoriteColors
                li= colorName

        ul
            each story in st
                li= story.StoryId
                li= story.UserId
                li= story.UserName
